{#
/**
 * Created by Stefan on 22/08/2016.
 */
#}

 {% if content.field_info_actie | render is not empty %}
   <div class="actions--full__content">
     <article{{ attributes }}>
       {{ title_prefix }}
       {% if not page %}
         <h2{{ title_attributes }}>
           {{ label }}
         </h2>
       {% endif %}
       {{ title_suffix }}

       <div{{ content_attributes }}>
         {{ content.field_info_actie }}
         <div class="action-flyer">
           {{ content.field_actie_folder }}
         </div>
       </div>
     </article>
   </div>

 {% endif %}
